<html ng-app="jwApp">
<head>
	<title></title>
</head>
<body ng-controller="jwController">
	<div>
		<div class="logo"></div>
		<div class="save"></div>
		<div class="bgChang"></div>
		<div class="boldChang"></div>
	</div>
	<p>Lalalala</p>
	<button type='button' ng-click="boldText()">Bold</button>
	<button type='button' ng-click="italicizeText()">Italicize</button>
	<iframe id="writeHere" style="width:500px; height:300px;"></iframe>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.15/angular.js"></script>
 <script src="app.js"></script> 
</body>
</html>